/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.modal .form__send, .footer .subscribe__btn, .hero__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .form__send:hover, .footer .subscribe__btn:hover, .hero__button:hover, .modal .form__send:focus, .footer .subscribe__btn:focus, .hero__button:focus {
  background: #fff;
  color: #2196f3;
}

body {
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--head_resize {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .container--head_resize {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .container--head_resize {
    display: flex;
    justify-content: flex-start;
    width: 1200px;
    margin: 0 auto;
  }
}

.container--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.container--mobile.is-open {
  transform: translateX(0);
}

.container--hero_resize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 118px 0;
}
@media screen and (min-width: 1200px) {
  .container--hero_resize {
    padding: 200px 0;
  }
}

.container-features_resize {
  padding: 60px 15px;
}
@media screen and (min-width: 1200px) {
  .container-features_resize {
    padding: 94px 15px;
  }
}

.container--work_resize {
  padding: 94px 15px;
}

.container--team_resize {
  padding: 60px 15px;
}
@media screen and (min-width: 1200px) {
  .container--team_resize {
    padding: 94px 15px;
  }
}

.container--customer_resize {
  padding: 60px 15px;
}
@media screen and (min-width: 1200px) {
  .container--customer_resize {
    padding: 94px 15px;
  }
}

.container--footer_resize {
  padding: 60px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 1200px) {
  .container--footer_resize {
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
  }
}

.container--portfolio_resize {
  padding: 60px 15px;
}
@media screen and (min-width: 1200px) {
  .container--portfolio_resize {
    padding: 94px 15px;
  }
}

/* Site navigation / Header*/
.header {
  border-bottom: 1px solid #ececec;
}

.container--mobile .burger {
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger__iconx {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger__iconx:hover, .burger__iconx:focus {
  fill: #2196f3;
}

.mobile-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu .wrap {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.mobile-menu .nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu .nav__link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .nav__link:hover, .mobile-menu .nav__link:focus {
  color: #2196f3;
  transform: scaleX(0.95);
}

.mobile-menu .nav__link--active {
  color: #2196f3;
  transform: scaleX(0.95);
}

.mobile-menu .contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu .contact__item {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.mobile-menu .contact__item:not(:last-child) {
  color: #2196f3;
  font-size: 34px;
  line-height: 1.18;
}

.mobile-menu .social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.social__item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.social__item:not(:last-child) .social__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 1px;
  left: 100%;
  top: 50%;
  transform: rotate(90deg);
  background-color: rgba(33, 33, 33, 0.2);
  border-radius: 2px;
}

.burger {
  width: 40px;
  height: 40px;
  display: block;
  border: none;
  background: none;
  margin-left: auto;
}
@media (min-width: 768px) {
  .burger {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 92px;
  }
}

.navigation__list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.navigation__link {
  padding: 32px 0;
  position: relative;
  color: vgetColor(primaryTextColor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link--active {
  color: #2196f3;
}
.navigation__link--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
    flex-direction: row;
    gap: 30px;
  }
}

.contacts__link {
  display: block;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__email-icon,
.contacts__smartphone-icon {
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (min-width) {
  .contacts__email-icon,
.contacts__smartphone-icon {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .navigation,
.contacts {
    display: none;
  }
}
.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__peace {
  color: #2196f3;
}

.logo__footer {
  color: #fff;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/desktop/hero@2x.jpg);
  }
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    line-height: 1.36;
    font-size: 44px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__card {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .features__card {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__card {
    width: 270px;
  }
}

.features__img {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: contents;
  }
}

.work__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team .card {
  padding: 30px 0;
}

.team .card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.team .card__label {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.team .card__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #afb1b8;
}

.team .card__link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team .card__link:hover, .team .card__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.team .card__icon {
  fill: currentColor;
}

.customer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #afb1b8;
}

.customer__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .customer__title {
    font-size: 36px;
  }
}

.customer__link {
  display: flex;
  justify-content: center;
  padding: 16px 52px;
  width: 210px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__link:hover, .customer__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .customer__link {
    padding: 16px 60px;
    width: 226px;
  }
}
@media screen and (min-width: 768px) {
  .customer__link {
    padding: 16px 32px;
    width: 170px;
  }
}

.customer__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer .logo {
    text-align: center;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

.footer__socials,
.footer__subscribe {
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .footer .address {
    text-align: center;
  }
}

.footer .address__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer .address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .address__link:hover, .footer .address__link:focus {
  color: #2196f3;
}

.footer .address__link--white {
  color: #fff;
}

.footer .socials {
  display: flex;
  gap: 10px;
}

.footer .socials__link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .socials__link:hover, .footer .socials__link:focus {
  background-color: #2196f3;
}

.footer .socials__icon {
  fill: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .footer__subscribe {
    width: 100%;
  }
}

.footer .subscribe {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer .subscribe__label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .subscribe__email {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .subscribe__email:focus {
  border: 1px solid #2196f3;
  outline: none;
}
@media screen and (min-width: 480px) {
  .footer .subscribe__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .subscribe__email {
    width: 358px;
    margin-right: 12px;
  }
}

.footer .subscribe__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
}

.footer .subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  padding: 40px;
  width: 90%;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  fill: currentColor;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  cursor: pointer;
  color: #2196f3;
}

.modal .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal .form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal .form__title {
    line-height: 1.15;
  }
}

.modal .form__label {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.modal .form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .form__input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}
.modal .form__input:focus + .form__icon {
  color: #2196f3;
}

.modal .form__info {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: getCoor(otherTextColor);
}

.modal .form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form__label-coment {
  width: 100%;
  margin-bottom: 20px;
}

.modal .form__comment {
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal .form__comment:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.modal .form__send {
  margin-top: 30px;
}

.form .check {
  position: relative;
}

.form .check__policy-info {
  display: inline;
  font-weight: 400;
  font-size: 12px;
  margin-right: 5px;
  line-height: 1.71;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .form .check__policy-info {
    font-size: 14px;
  }
}

.form .check__link-policy {
  color: #2196f3;
  text-decoration: underline;
}

.form .check__icon {
  position: relative;
  top: 4px;
  margin-right: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form .check__icon:hover, .form .check__icon:focus {
  cursor: pointer;
}

.form .check__icon-checked {
  position: absolute;
  display: flex;
  align-items: center;
  margin-right: 4px;
  left: 0;
  top: 4px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form .check__icon-checked:hover, .form .check__icon-checked:focus {
  cursor: pointer;
}

.form .check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form .check__input:checked ~ .check__icon-checked {
  opacity: 1;
}

.portfolio {
  background-color: #fff;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 35px;
  }
}

.filter__button {
  padding: 6px 22px;
  margin-bottom: 15px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio .list {
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.portfolio .list__card {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .list__card:hover .list__thumb::before, .portfolio .list__card:hover .list__label, .portfolio .list__card:focus .list__thumb::before, .portfolio .list__card:focus .list__label {
  transform: translateY(0);
}
.portfolio .list__card:hover, .portfolio .list__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio .list__card {
    width: 354px;
  }
}

.portfolio .list__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio .list__thumb::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .list__label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .list__wrap {
  padding: 20px 0 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio .list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio .list__category {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}/*# sourceMappingURL=main.css.map */