@import '../utils/variables';

.features {
    padding: 60px 0;
    
    @media screen and (min-width: $desktop) {
        padding: 94px 0;
    }
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.features__card {
    display: flex;
    flex-direction: column;


    @media screen and (min-width: $mobile) {
        max-width: 450px;
    }

    @media screen and(min-width: $tablet) {
        width: 354px;
    }

    @media screen and(min-width: $desktop) {
        width: 270px;
    }
}

.features__img {
    @include flexJust(flex, center);
    margin-bottom: 30px;
    padding: 25px 0;
    background-color: getColor(accentBlockColor);
    border-radius: 4px;
}

.features__title {
    margin-bottom: 10px;
    color: getColor(primaryTextColor);
    @include fSize(700, 14px, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        text-align: start;
    }
}

.features__text {
    color: getColor(otherTextColor);
    @include fSize(400, 14px, 1.7, 0.03em);
}