@import '../utils/variables';

/* Site navigation / Header*/
.header {
    border-bottom: 1px solid #ececec;
}

// --- Mobile menu ---
.container--header_mobile .burger {
    position: absolute;
    top: 10px;
    right: 15px;
}

.burger__iconx {
    transition: fill 250ms $timingBuzier;

    &:hover,
    &:focus {
        fill: getColor(acentTextColor);
        cursor: pointer;
    }
}

.mobile-menu {
    height: 100%;
    @include flexJustDir(flex, space-between, column);
}

.mobile-menu .wrap {
    @include flexDir(flex, column);
    gap: 64px;
}

.mobile-menu .nav {
    @include flexDir(flex, column);
    gap: 32px;
}

.mobile-menu .nav__link {
    display: block;
    color: getColor(primaryTextColor);
    @include fSize(500, 40px, 1.17, 0.02em);
    transition: transform 250ms $timingBuzier,
        color 250ms $timingBuzier;

    &:hover,
    &:focus {
        color: getColor(acentTextColor);
        transform: scaleX(0.95);
    }
}

.mobile-menu .nav__link--active {
    color: getColor(acentTextColor);
    transform: scaleX(0.95);
}

.mobile-menu .contact {
    @include flexDir(flex, column);
    gap: 32px;
}

.mobile-menu .contact__item {
    color: getColor(otherTextColor);
    @include fSize(500, 24px, 1.16, 0.02em);

    &:not(:last-child) {
        color: getColor(acentTextColor);
        font-size: 34px;
        line-height: 1.18;
    }
}

.mobile-menu .social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.social__item {
    position: relative;
    color: getColor(acentTextColor);
    @include fSize(500, 18px, 1.22, 0.02em);

    &:not(:last-child) .social__link::after {
        content: "";
        position: absolute;
        display: block;
        width: 22px;
        height: 1px;
        left: 100%;
        top: 50%;
        transform: rotate(90deg);
        background-color: rgba(33, 33, 33, 0.2);
        border-radius: 2px;
    }

}

// --- Tablet/Destop Menu ---
.burger {
    width: 40px;
    height: 40px;
    display: block;
    border: none;
    background: none;
    margin-left: auto;

    &:hover,
    &:focus {
        cursor: pointer;
        fill: getColor(acentTextColor);
    }

    @media (min-width: $tablet) {
        display: none;
    }
}

.navigation {
    @media screen and (min-width: $desktop) {
        margin-left: 92px;
    }
}

.navigation__list {
    @include flexDir(flex, row);
    gap: 50px;
}

.navigation__link {
    position: relative;
    padding: 32px 0;
    color: vgetColor(primaryTextColor);
    @include fSize(500, 14px, 1.14, 0.02em);
    text-decoration: none;
    transition: color 250ms $timingBuzier;

    &:hover,
    &:focus {
        color: getColor(acentTextColor);
    }
}

.navigation__link--active {
    color: getColor(acentTextColor);

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        right: 0;
        background-color: getColor(acentTextColor);
        border-radius: 2px;
    }
}

.contacts {
    @include flexAlignDir(flex, flex-start, column);
    gap: 10px;

    @media screen and (min-width: $desktop) {
        margin-left: auto;
        flex-direction: row;
        gap: 30px;
    }
}

.contacts__link {
    display: block;
    color: getColor(otherTextColor);
    @include fSize(500, 12px, 1.14, 0.02em);
    text-decoration: none;
    cursor: pointer;
    transition: color 250ms $timingBuzier;

    &:hover,
    &:focus {
        color: getColor(acentTextColor);
    }

    @media screen and (min-width: $desktop) {
        @include fSize(500, 16px, 1.14, 0.02em);
    }
}


.contacts__email-icon,
.contacts__smartphone-icon {
    fill: currentColor;
    margin-right: 8px;

    @media screen and (min-width: $desktop) {
        margin-right: 10px;
    }
}

@media (max-width: $tablet) {

    .navigation,
    .contacts {
        display: none;
    }
}