@import '../utils/variables';

.logo {
    color: getColor(primaryTextColor);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo__peace {
    color: getColor(acentTextColor);
}

.logo__footer {
    color: getColor(secondTextColor);
}