@import '../utils/variables';

.logo {
    color: getColor(primaryTextColor);
    font-family: Raleway, sans-serif;
    @include fSize(700, 26px, 1.19, 0.03em);
    text-decoration: none;
}

.logo__peace {
    color: getColor(acentTextColor);
}

.logo__footer {
    color: getColor(secondTextColor);
}