@import '../utils/variables';

.team {
    padding: 60px 0;
    background-color: getColor(accentBlockColor);

    @media screen and (min-width: $desktop) {
        padding: 94px 0;
    }
}

.team__title {
    margin-bottom: 30px;
    color: getColor(primaryTextColor);
    @include fSize(700, 28px, 1.16, 0.03em);
    text-align: center;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.team__item {
    background: getColor(secondTextColor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

    @media screen and (min-width: $tablet) {
        width: 354px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px; 
    }
}

.team .card {
    padding: 30px 0;
}

.team .card__title {
    margin-bottom: 10px;
    color: getColor(primaryTextColor);
    @include fSize(500, 16px, 1.19, 0.03em);

}

.team .card__label {
    margin-bottom: 16px;
    color: getColor(otherTextColor);
    @include fSize(400, 16px, 1.19, 0.03em);
}

.team .card__links {
    @include flexJustAlign(flex, center, center);
    gap: 10px;
    color: getColor(iconColor);
}

.team .card__link {
    display: flex;
    padding: 12px;
    border-radius: 50%;
    transition: background-color 250ms $timingBuzier, 
        color 250ms $timingBuzier;

    &:hover,
    &:focus {
        background-color: getColor(acentTextColor);
        color: getColor(secondTextColor);
    }
}

.team .card__icon {
    fill: currentColor;
}

