@import '../utils/variables';

.work {
    display: none;
    padding-bottom: 94px;

    @media screen and (min-width: $desktop) {
        display: contents;
    }
}

.work__title {
    margin-bottom: 50px;
    color: getColor(primaryTextColor);
    @include fSize(700, 36px, 1.17, 0.03em);
    text-align: center;
}

.work__list {
    display: flex;
    gap: 30px;

}

.work__item {
    position: relative;
}

.work__label {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    @include flexJustAlign(flex, center, center);
    background: rgba(47, 48, 58, 0.8);
    color: getColor(secondTextColor);
    @include fSize(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
}