@import '../utils/variables';

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}

.container--header_desktop {
    @include flexJustAlign(flex, space-between, center);
    height: 60px;

    @media screen and (min-width: $mobile) {
        width: 100%;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
        height: 80px;
    }

    @media screen and (min-width: $desktop) {
        @include flexJust(flex, flex-start);
        width: $desktop;
    }
}

.container--header_mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: getColor(secondTextColor);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }
}

.container--hero_resize {
    @include flexJustAlignDir(flex, center, center, column);
}


.container--footer_resize {
    @include flexJustAlign(flex, center, baseline);
    flex-wrap: wrap;
    gap: 60px;

    @media screen and (min-width: $desktop) {
        @include flexJustAlign(flex, space-between, baseline);
        gap: 0;
    }
}