// --- Colors ---

$colors: (
    'primaryTextColor': #212121,
    'secondTextColor': #fff,
    'otherTextColor': #757575,
    'acentTextColor': #2196f3,
    'accentBlockColor': #f5f4fa,
    'secondBlockColor': #2f303a,
    'iconColor': #afb1b8,
    'borderColorCustomer': #afb1b8,
);

@function getColor($key) {
    @return map-get($colors, $key);
}

// --- Formula animation ---

$timingBuzier: cubic-bezier(0.4, 0, 0.2, 1);

// --- Breakpoints ---
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

// --- Mixins ---
@mixin fSize($weight, $size, $height, $l-spacing) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $l-spacing;
}

@mixin flexJust($display, $justifyCont) {
    display: $display;
    justify-content: $justifyCont;
}

@mixin flexDir($display, $direction) {
    display: $display;
    flex-direction: $direction;
}

@mixin flexAlign($display, $align) {
    display: $display;
    align-items: $align;
}

@mixin flexJustAlign($display, $justifyCont, $align) {
    display: $display;
    justify-content: $justifyCont;
    align-items: $align;
}

@mixin flexJustDir($display, $justifyCont, $direction) {
    display: $display;
    justify-content: $justifyCont;
    flex-direction: $direction;
}

@mixin flexAlignDir($display, $align, $direction) {
    display: $display;
    align-items: $align;
    flex-direction: $direction;
}

@mixin flexJustAlignDir($display, $justify, $align, $direction) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}